body {
  background-image: radial-gradient(
    rgb(164, 252, 222),
    rgba(67, 185, 240, 0.7),
    rgb(118, 249, 184)
  );
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(2, 52, 44, 0.81);
}

header {
  border: 1px solid white;
  border-radius: 2.5em;
  margin-bottom: 15px;
}

img {
  border: 1px solid white;
  border-radius: 2.5em;
  padding: 5px;
}

div,
h3,
article {
  border: 1px solid white;
  border-radius: 2.5em;
  margin-bottom: 5px;
  padding: 5px;
}

h3 {
  padding: 1em;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fish-card {
  flex-basis: 20%; /* Make each child element the same width */
  border: 1px solid black;
  border-radius: 2.5em;
  padding: 1em;
  margin: 0.5em;
}
